
<section class="bg-dust padding-top--2x">
  <div class="row">
    <div class="small-12 columns explore-options">
      <h2 class="status-header_title gamma padding-top">Explore other options</h2>
      <ul class="local-nav padding-top" role="navigation">
        {% for result in oceia_results %}
        <li class="local-nav-item{% if result.nid == node.id %} active{% endif %}"><a href="{{result.url}}"><i class="fa {{result.fa_icon}}" aria-hidden="true"></i>{{result.title_short|default(result.title)}}</a></li>
        {% endfor %}
        
      </ul>
      <p class="padding-top padding-bottom--2x text-center">You can also see <a href="{{ path('ccsf_oceia.resources') }}">contact information</a> for all San Francisco immigration legal aid organizations.</p>
    </div>
  </div>
</section>