.question{ display: none; }
.question:first-child{ display: block; }



header .results-header_values {text-transform: none;}

header p {
	margin-bottom: .3em !important; 
}


header .results-header_values strong {
	font-family: "Lato", Helvetica, Arial, Verdana, sans-serif;
	font-weight: bold;
}

header .results-header_values .tiny {
	font-size: 70%;
}

header .call-to-action {
	margin: 4rem 0;
}

header .call-to-action h2 {
	padding-right: 2em;
	padding-bottom: 1em;
}

header .call-to-action .columns .button {
	width: 60%;
	margin: 1em 0 4em;
	display: block;
}

.splash-wells select {
	float: left;
	width: 72%;
}

.splash-wells .welcome-block h2 {
	font-size: 1.5rem;
	line-height: 1.5rem;
	font-weight: 700;
}

.splash-wells .welcome-block p {
	text-align: left;
	margin-bottom: 2rem;
}

.splash-wells .form-container .button {
	width: 25%;
	float: right;
	padding: .745rem .5rem;
	letter-spacing: .1em;
}

.nav-mobile_container{
  z-index: 1000;
  position: fixed;
  width: 300px;
  height: 100%;
  overflow: hidden;
  transition-duration: 0.5s;
  transition-property: width, height;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #fff;
  box-shadow: 0px 6px 0px 6px rgba(0,0,0,0.03);
}

.nav-mobile_container.hidden{
  width: 0;
}

.form-back {
	padding-left: 1rem;
    padding-right: 1rem;
    color: #0077da;
    font-weight: 400 !important;
    text-decoration: underline;
    line-height: 3rem;
	font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
	letter-spacing: normal;
}

.resources-list .label {
  margin: .125rem;
}

/*--Results Section--*/

.results-section {
	padding-top: 2em;
}


.results-section-header {
	padding-bottom: 1rem;
	margin-bottom: .5em;
}

.language-filter {
	margin-top: 2rem;
	margin-bottom: 4rem;
}

.language-filter h2 {
	padding: 1.25rem;
	background: #daeeff;
	margin-top: -1.25rem;
	margin-left: -1.25rem;
	margin-right: -1.25rem;
}


.language-filter .checkbox-block_label {
	font-size: 0.875rem;
	line-height: 1.6;
}

.language-filter #more-languages {
	margin-top: 1rem;
}

.language-filter .filter-add {
	font-size: .875rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: .5rem;
	text-decoration: none;
}

.language-filter .filter-add a {
	text-decoration: none;
}

.language-filter .filter-add i {
	margin-right: .75rem;
}

.language-filter .filter-footer {
	margin-top: .75rem;
	padding-top: .75rem;
	margin-bottom: -.5rem;
}

.language-filter .filter-footer p {
	text-align: right;
	margin-bottom: 0;
}

.language-filter .filter-footer a {
	padding: .25rem .5rem;
	border: 1px solid #dedee0;
	border-radius: 5px;
	text-decoration: none;
}

.language-filter .filter-footer ul {
	margin-top: 2rem;
}

.language-filter .filter-footer li {
	display: inline-block;
	margin-right: 1rem;
}

.print {
	border-top: 1px solid #dedee0;
	border-bottom: 1px solid #dedee0;
	padding: .5rem 0;
}

.explore-options .local-nav {
	background: transparent;
	letter-spacing: normal;
}

.explore-options .local-nav li {
	background: #fff;
}

.explore-options .local-nav li.active a {
	background: #daeeff;
	text-decoration: underline;
	font-weight: 700;
	border: 1px solid #0077da;
}

.explore-options .local-nav li a {
	color: #0077da;
	border: #dedee0 solid 1px;
	background: #fff;
	text-transform: none;
	font-weight: 400;
}

.explore-options .local-nav li a i {
	margin-right: .5rem;
}

/* Tooltip styles */
.ui-tooltip{
  background: #504F4F;
  color: #fff;
}

@media only screen and (min-width: 48.0625em) { /* 769px medium column break */
	
	.splash-wells .welcome-block {
		padding-left: 3rem;
		padding-right: 3rem;
		padding-top: 2rem !important;
	}

	.status-header_content {
		margin-top: 2rem;
	}

	.print {
		margin-top: 1.75rem;
		border-top: none;
	}

	.explore-options .local-nav li a {
		border-radius: 5px;
	}
	
}

@media only screen and (min-width: 60.0625em){
  #become-a-citizen header .call-to-action h2{
    min-height: 6em;
  }
  header .call-to-action .columns .button {
    margin-bottom: 1em;
  }
}

