.question{ display: none; }
.question:first-child{ display: block; }

.top-bar .menu-icon .ui-icon, .nav-mobile_header .ui-icon{
  display: inline;
  background-image: none;
}

.nav-mobile_container{
  z-index: 1000;
  position: fixed;
  width: 300px;
  height: 100%;
  overflow: hidden;
  transition-duration: 0.5s;
  transition-property: width, height;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #fff;
  box-shadow: 0px 6px 0px 6px rgba(0,0,0,0.03);
}

.nav-mobile_container.hidden{
  width: 0;
  display: block;
}

.form-back {
	padding-left: 1rem;
    padding-right: 1rem;
    color: #0077da;
    font-weight: 400 !important;
    text-decoration: underline;
    line-height: 3rem;
	font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
	letter-spacing: normal;
}



