{%
  set classes = [
    'field',
    'field-languages',
    'label',
    'radius',
    'secondary',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}
<p class="t-tiny c-steel">{{ 'Languages spoken'|t }}:
    {% for item in items %}
      <span{{ attributes.addClass(classes, 'field__item') }} data-value="{{ item.content['#options'].entity.tid.value }}">{{ item.content['#title'] }}</span>
    {% endfor %}
</p>