<div class="row text-center padding-top--2x padding-bottom--2x">
    <div class="medium-12 columns">
      <img src="{{ base_path ~ directory }}/assets/logo-city-gray.png" class="city-logo margin-bottom--2x" alt="City & County of San Francisco Logo">
    </div>
    <div class="medium-8 medium-centered columns">
      <p class="c-iron">This service is built in partnership with <br><a href="http://sfgov.org/oceia/" class="a-white">Office of Civic Engagement &amp; Immigrant Affairs</a><br>
         <a href="http://digitalservices.sfgov.org" class="a-white">San Francisco Digital Services Team</a>
      </p>

    </div>
  </div>
  <section class="footer-sock bg-ebony padding-top--2x padding-bottom">
    <div class="row">
      <div class="medium-6 columns small-only-text-center">
        <span class="c-aluminum">&copy; City &amp; County of San Francisco</span>
      </div>
      <div class="medium-6 columns small-only-text-center">
        <ul class="inline-list">
          <li>
            <a href="http://sfgov.org/oceia/contact-us">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="footer-sole">
    <span >This prototype was built by the San Francisco Digital Services Team.</span>
  </section>