<div class="version-bar bar bg-splash">
  <div class="row">
    <a class="c-white" href="tel:1-415-200-1548">
      <strong><p class="text-center t-small c-white no-margin">If you see Immigration and Customs Enforcement (ICE) in San Francisco, call the same-day hotline at 415-200-1548.</p></strong>
    </a>
    <p class="text-center t-tiny c-white no-margin">This line is run by a group of community non-profit organizations.</p>
    </a>
  </div>            
</div>
<div class="row text-center padding-top--2x padding-bottom--2x">
    <div class="medium-12 columns">
      <img src="{{ base_path ~ directory }}/assets/logo-city-gray.png" class="city-logo margin-bottom--2x" alt="City & County of San Francisco Logo">
    </div>
    <div class="medium-8 medium-centered columns">
      <p class="c-iron">This service is built in partnership with <br><a href="http://sfgov.org/oceia/" class="a-white" target="_blank">Office of Civic Engagement &amp; Immigrant Affairs</a><br>
         <a href="http://digitalservices.sfgov.org" class="a-white" target="_blank">San Francisco Digital Services Team</a>
      </p>

    </div>
    <div class="social">
      <a href="https://www.facebook.com/sfgov.oceia/" class="a-white" target="_blank" title="Facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
      <a href="https://twitter.com/OCEIA_SF" class="a-white" target="_blank"  title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/sf_immigrants/" class="a-white" target="_blank"  title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </div>
  </div>
  <section class="footer-sock bg-ebony padding-top--2x padding-bottom">
    <div class="row">
      <div class="medium-6 columns small-only-text-center">
        <span class="c-aluminum">&copy; City &amp; County of San Francisco</span>
      </div>
      <div class="medium-6 columns small-only-text-center">
        <ul class="inline-list">
          <li>
            <a href="http://sfgov.org/oceia/contact-us" target="_blank">Contact</a>
          </li>
          <li>
            <a href="{{ path('entity.node.canonical', {'node': 1}) }}">Disclaimer</a>
          </li>
          <li>
            <a href="{{ path('entity.node.canonical', {'node': 25}) }}">Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="footer-sole">
    <span>This service was built by the San Francisco <a href="http://digitalservices.sfgov.org/" target="_blank">Digital Services Team</a>.</span>
  </section>