    {% set oceia_results = page_vars.oceia_results %}
    <section class="splash-header bg-image"></section>
    <section class="splash-text padding--2x">
      <div class="row">
        <div class="medium-9 medium-centered columns">
            <header class="text-center">
              <h1 class="hero-title">Find immigration legal help</h1>
              <div class="medium-centered columns">
                <p class="t-base">Answer a few questions to help immigrants understand their options and find the right lawyer.</p>
                <a class="button primary shadow" href="{{ path('ccsf_oceia.help') }}">Find help</a>
              </div>
            </header>
        </div>
      </div>
    </section>
    {% include directory ~ '/templates/includes/results-options.html.twig' with {hide_resources_link:true} %}